@using CustomerOrders.Web.ViewModels

@model HomeDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h2>@Model.Customer.ContactName</h2>
</div>

<div class="row">
    <div class="col-md-10">
        <section>
            <div>Company: @Model.Customer.CompanyName</div>
            <div>Title: @Model.Customer.ContactTitle</div>
            <div>Address: @Model.Customer.Address</div>
            <div>Region: @Model.Customer.Region</div>
            <div>Postal Code: @Model.Customer.PostalCode</div>
            <div>Country: @Model.Customer.Country</div>
            <div>Phone: @Model.Customer.Phone</div>
            <div>Fax: @Model.Customer.Fax</div>
        </section>

        <div>
            <h3>Orders</h3>
        </div>

        @foreach (var order in Model.Orders)
        {
            <section class="panel panel-default">
                <h5 class="panel-heading">ID: @order.OrderID</h5>
                <div class="panel-body">
                    <div>Total: @string.Format("{0:C2}", order.Total)</div>
                    <div>Number of products: @order.ProductCount</div>
                    <div class="text-danger">
                        @order.WarningMessage
                    </div>
                </div>
            </section>
        }
    </div>
</div>