@using CustomerOrders.Web.Models
@using CustomerOrders.Web.ViewModels

@model IEnumerable<Customer>

@{
    ViewBag.Title = "Customer Orders";
}

<div class="page-header">
    <h2>Customer Orders</h2>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfOrders)
                </th>
            </tr>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => customer.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Orders.Count)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = customer.CustomerID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>