@model IEnumerable<CustomerOrders.Web.Models.Customer>

@{
    ViewBag.Title = "Customer Orders";
}

<div class="jumbotron">
    <h1>Customer Orders</h1>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfOrders)
                </th>
            </tr>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.NumberOfOrders)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = customer.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>